body{
    background-color: #f1f1f1;
}

.wrapper{
    width: 75%;
    margin: 0 auto;
}

.top{
    
    height: 30rem;
    background-color: #aaddff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main{
    font-size: 4rem;
    font-weight: bolder;
}

/*---------TopFrame-------------*/

.navbar{
    
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-evenly;
}

.divlink{
    
    padding:2rem;
    font-weight: bold;
    transition: background-color ease-in 500ms, font-weight ease-in 1s;
}

.divlink:hover{
    background-color: #a99;
    font-weight: bolder;
}

/*------------------form---------------*/

.contact{

    height: 30rem;
    width: 100%;
    background-color: #a99;
    padding-top: 5rem;

    display: flex;
    
    align-items: stretch;
  

}

.first{
    
    width: 50%;
    padding-left: 4rem;
}

.second{
    
    width: 50%;
    padding-right: 4rem;
}

label{
    color:#fff;
    padding: 1rem 1rem 1rem 0rem;
    font-weight: bold;
    font-size: 1.2rem;

}

h2{
    
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
}

.email{
    
    display: flex;
    flex-direction: column;
}

.message{
    display:flex;
    flex-direction: column;
}


input{
    border-radius: 5px;
    height: 2.5rem;
}



textarea{
    height: 10rem;
    border-radius: 5px;
    resize: none;
}



.sub{
    float: right;
    margin-top: 3rem;
    width: 8rem;
    border-radius: 30px;
    height: 3rem;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    transition: transform ease-in 500ms;
    
}

.sub:focus {outline:0;}

.sub:active{
    transform: scale(0.1);
}

.map{
    position: relative;
    width: 100%;
    height: 35rem;
    background-color: #555;
}


.adress{
    position:absolute;
    margin: 6rem 0 0 5vw;
    width: 40%;
    height: 15rem;
    background-color: #f5bd3f;
}



.adress h2, .adress p{
    color:#fff;
    padding-left: 10%;
    padding-bottom: 1rem;

    font-weight: bold;
    

}

.adress h2{
    padding-top: 1rem;
    font-size: 3rem;

}


/*-------------Las div ------------------*/
.lastgrey{
    width: 100%;
    height: 30rem;
    background-color: #999;
}