body{
    background-color: #f1f1f1;
}

.wrapper{
    width: 65%;
    margin: 0 auto;
}

.top{
    
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "family learn"
    "family join";
}

.family{
    grid-area: family;
    height: 30rem;
    background-color: #add8ff; 
    background-image: url("../img/family.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
   /* padding-right: 20px; */
 
}


.learn{
    grid-area: learn;   
    background-color: #ff8f5d;
}

.join{

    grid-area: join;
    background-color: #ffbb55;

}

.learn, .join{
    display:flex;
    align-items: center;
    justify-content: center;
}

.text p:nth-child(1){
    font-size: 0.7rem;
    text-align: center;
    color: #555;
}

.text p:nth-child(2){
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.head{
    
    height: 100%;
    
    padding-left:20%;
    padding-right: 20% ;
    padding-top: 15%;
    
    text-align: left;
}

h1{
    
    font-size: 2rem;
    font-weight: bolder;    
}

.dollar{
    color:#fff
}

p{
    line-height: 1.5rem;
}

button{
    margin-top: 0.5rem;
    background: #fff;
    border-radius: 20px;
    border: none;
    width: 7rem;
    height: 2rem;
    text-decoration: #111;
    
}

button:focus {outline:0;}

.familypic{
    width: 28rem;
    height: 28rem;
    border-bottom: white 1px solid;
    background-image: url("/img/family.png");
}

/*------TOP FRAME STOPS HERE --------*/


.navbar{
    
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.divlink{
    
    padding:1rem;
}

.divlink:hover, .divlink:hover a{

    background-color:#a1a1a1;
    font-weight: bolder;
}

/* ------ finacial saftey frame ----------------------*/

