body{
    background-color: #f1f1f1;
}

.wrapper{
    width: 75%;
    margin: 0 auto;
}

.top{
    
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "family learn"
    "family join";
}

.family{
    grid-area: family;
    height: 30rem;
    background-color: #add8ff; 
    background-image: url("../img/family.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
   /* padding-right: 20px; */
 
}


.learn{
    grid-area: learn;   
    background-color: #ff8f5d;
}

.join{

    grid-area: join;
    background-color: #ffbb55;

}

.learn, .join{
    display:flex;
    align-items: center;
    justify-content: center;
}

.text p:nth-child(1){
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

.text p:nth-child(2){
    font-size: 3rem;
    padding-top: 1rem;;
    text-align: center;
    color: #fff;
}

.head{
    
    height: 100%;
    
    padding-left:20%;
    padding-right: 20% ;
    padding-top: 15%;
    
    text-align: left;
}

h1{
    
    font-size: 2rem;
    font-weight: bolder;    
}

.dollar{
    color:#fff
}

p{
    line-height: 1.5rem;
}

button{
    margin-top: 0.5rem;
    background: #fff;
    border-radius: 20px;
    border: none;
    width: 7rem;
    height: 2rem;
    text-decoration: #111;
    
}

button:focus {outline:0;}

.familypic{
    width: 28rem;
    height: 28rem;
    
    background-image: url("/img/family.png");
    
}

/*------TOP FRAME STOPS HERE --------*/


.navbar{
    
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.divlink{
    
    padding:1rem;
}

.divlink:hover, .divlink:hover a{

    background-color:#a1a1a1;
    font-weight: bolder;
}

/* ------ finacial saftey frame ----------------------*/

.online{
    background-color: #a5a5a5;
    
    display:grid;
    width: 100%;
    padding-top: 6rem;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". safety safety . text text ."
    ". btn btn . text text ."
    ". . . . . . ."
    "deals deals deals deals deals deals deals";

}

.safety{
    grid-area: safety;
    color:#fff;
    font-size: 3rem;
    
}

.btnjoin{
    grid-area: btn;
    
    
}

.text2{
    grid-area: text;

    font-size: 1.2rem;
    
    color:#333;
    line-height: 1.5rem;
    
}

.deals{
    
    grid-area: deals;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.deal{
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    max-width: 16rem;
   margin-bottom: -10rem; 

}

.deal h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

.deal p{
    text-align: center;
    color: #555;
} 



.pic1{
    width: 14rem;
    height: 10rem;
    margin:0 auto;
    margin-top: -3rem;
    border-top: 1rem solid  #add8ff;
    background-image: url("../img/child.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #add8ff;

    border-radius: 10px;
}

.pic2{
    width: 14rem;
    height: 10rem;
    margin:0 auto;
    margin-top: -3rem;
    border-top: 1rem solid  #ffbb55;
    background-image: url("../img/adult.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #ffbb55;

    border-radius: 10px;
}

.pic3{
    width: 14rem;
    height: 10rem;
    margin:0 auto;
    margin-top: -3rem;
    border-top: 1rem solid  #ff8f5d;
    background-image: url("../img/old.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #ff8f5d;

    border-radius: 10px;
}

/*-----------------About frame begins----------------*/

.about{
    

    background-color: #ffbb55;
    height: 35rem;

    display: flex;
    align-items: center;
    
}

.abouttext{
    
    padding:0 10% 0 10%;
    text-align: center;
}

.abouttext h2{
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: bold;
    color:#fff;
}

.abouttext p{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:#555;
}


